.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: grey;
    justify-items: start;
    align-items: start;
    justify-content: center;
    align-content: center;
    row-gap: 200px;
    column-gap: 100px;
}

.text1 {
    background-color: rgba(208, 255, 190);
    grid-column-start: span 2;
}
.text2 {
    background-color: rgba(255, 156, 156);
    grid-row-start: span2;
    justify-self: center;
    align-self: center;
}
.text3 {
    background-color: rgba(255, 253, 165);
}
.text4 {
    background-color: rgba(144, 144, 255);
}
.text5 {
    background-color: rgba(144, 185,255);
}
.text6 {
    background-color: rgba(235, 144, 235);
}
